
* {
	font-family: 'Quicksand', sans-serif;
}
.nav-container, .skills, .games, footer {
	background-color: #0a192f;
}

.hero-section {
	background-image:url("../img/hero-section.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 120vh;
}

h2 { 
	text-align: center;
}

i {
	font-size: 1rem;
}

.avatar-img {

	border-radius: 100px;
	border: 4px solid #0a192f;


}